@page { margin: 100px 25px 25px 25px; }
      header {
        position: fixed;
        top: -106px;
        left: 0px;
        right: 0px;
      }
      body{
        font-family: Panton;
        src:url('{{public_path('fonts/Panton-Regular.otf')}}');
      }
      .hijo {
        margin-top: 0%;
        page-break-after: always;
      }
      .hijo:last-child { page-break-after: never; }
      header{
          /*border-bottom-style: solid;
          border-bottom-color: #A9ADC;*/
      }
      table {
        width: 100%;
        margin-bottom: 1rem;
        background-color: transparent;
      }
      table tr{
        text-align: center;
      }
      table th,
      table td {
        padding: 0.10rem;
        vertical-align: top;
      }
      table th{
        font-size: 12px;
      }
      table tbody td{
        font-size: 10px;
      }
      table thead{
         border-bottom: 2px solid #dee2e6;
      }
      table thead th {
        vertical-align: bottom;
      }
      table tbody + tbody {
        border-top: 2px solid #dee2e6;
      }
      table table {
        background-color: #fff;
      }
      .row {
        display: -ms-flexbox;
        display: inline-flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        margin-right: -15px;
        margin-left: -15px;
      }
      .signature {
        border: 0;
        border-bottom: 1px solid #000;
      }
      footer {
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 10%;
        color: white;
        text-align: center;
      }